.choiceButton {
  position: relative;
  display: inline-block;
  background: yellow;
}

.searchWrapper {
  position: sticky;
  top: 0;
  padding: 10px;
}
.search {
  width: 100%;
}

.mobileExpanded {
  background: green;
  height: 2px;
  padding: 10px;
}

.img {
  width: 40px;
  height: 40px;
  background: black;
}

.menu {
  border: 1px solid;
  box-shadow: 0 5px 30px black;
  background: yellow;

  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: scroll;
}

.menuItem {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid blue;
  gap: 10px;
}
.menuItem img {
  flex-shrink: 0;
}
.menuItem:hover {
  background: magenta;
}
.menuItem.active {
  background: green;
}
.menuItem .menuItemName {
  flex-grow: 1;
}

@media (width <= 400px) {
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 50vh;
  }
  .menu.menuExpanded {
    height: 100%;
    max-height: 100vh;
  }
}

@media (width > 400px) {
  .mobileExpanded {
    display: none;
  }
  .menu {
    width: 315px;
  }
}
