.button {
  cursor: pointer;
  border: none;
  box-shadow: var(--shadow-md);
  background: white;
  border-radius: 9px;
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  max-width: 315px;
  text-align: start;
  position: relative;

  color: inherit;
  font-size: inherit;
  font-family: inherit;

  display: flex;
  align-items: center;
  gap: 8px;
}
.button:focus,
.button.buttonActive {
  outline: 2px solid var(--blue);
}
.button:disabled {
  opacity: 0.5;
}

.content {
  flex-grow: 1;

  /* truncate with ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  margin-right: 5px;
  flex-shrink: 0;
  /* tweak position */
  transform: translateY(1px);
}
