.inputGroup {
  position: relative;
}
.inputGroup > input {
  padding-left: calc(36px + 12px);
}
.inputGroupIcon {
  margin-left: 14px;
  position: absolute;
  height: 100%;
}

.inputGroupCloseButton {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: 100%;
  display: block;
  background: transparent;
  color: white;
  display: grid;
  place-items: center;
}

.inputGroupCloseButtonIcon {
  background: black;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 999px;
  display: grid;
  place-items: center;
}

.searchWrapper {
  padding: 6px 12px 8px;
}
.search {
  -webkit-appearance:none;
  width: 100%;
  font-size: inherit;
  border: none;
  background: #f3f4f6;
  border-radius: 9px;
  padding: 8px 12px;
  color: #303a4a;
  line-height: 20px;
}
.search:focus {
  outline: 2px solid var(--purple);
}
.search::placeholder {
  opacity: 0.5;
}

.searchScroll {
  overflow-y: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
}
