@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

:root {
  --shadow-md: 0px 0px 0px 1px rgba(48, 58, 74, 0.08),
    0px 1px 1px rgba(48, 58, 74, 0.06), 0px 1px 3px rgba(48, 58, 74, 0.08);
  --shadow-4xl: 0px 0px 0px 1px rgba(62, 65, 86, 0.08),
    0px 32px 64px rgba(48, 58, 74, 0.08),
    0px 48px 96px -10px rgba(48, 58, 74, 0.36);
  --purple: #5754f7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 400;
}

@media (width <= 400px) {
  body {
    background: cyan;
  }
}
